.header {
  text-align: center;
  border-bottom: 5px solid;
}
.Date {
  border-bottom: 5px solid;
}
.Helper {
  border-bottom: 5px solid;
}
.student-of-the-month {
  border-bottom: 5px solid;
}
.volunteering {
  border-bottom: 5px solid;
}
.on-the-left {
  float: left;
}
.on-the-right {
  float: right;
}
.on-the-left-two {
  float: left;
}
.on-the-right-two {
  float: right;
}
.on-the-left-three {
  float: left;
}
.on-the-right-three {
  float: right;
}
